/TravelAgency/TravelAgency.UnitsTests/obj
/TravelAgency/TravelAgency.UnitsTests/bin
/TravelAgency/TravelAgencyConsoleClient/obj
/TravelAgency/TravelAgencyConsoleClient/bin
/TravelAgency/TravelAgencyController/bin
/TravelAgency/TravelAgencyController/obj
/TravelAgency/TravelAgencyDemoApp/bin
/TravelAgency/TravelAgencyDemoApp/obj
/TravelAgency/TravelAgencyInfrastructure/obj
/TravelAgency/TravelAgencyInfrastructure/bin
/TravelAgency/TravelAgencyModel/obj
/TravelAgency/TravelAgencyModel/bin
/TravelAgency/TravelAgencyOrm/bin
/TravelAgency/TravelAgencyOrm/obj
/TravelAgency/TravelAgencyOrmDemoApp/bin
/TravelAgency/TravelAgencyOrmDemoApp/obj
/TravelAgency/TravelAgencyWebApp/bin
/TravelAgency/TravelAgencyWebApp/obj
/TravelAgency/TravelAgencySeleniumTests/bin
/TravelAgency/TravelAgencySeleniumTests/obj
/TravelAgency/packages
/TravelAgency/.nuget
/TravelAgency/TravelAgency.UnitsTests/packages.config
/TravelAgency/TravelAgency.v12.suo
